*{
    font-family: 'Roboto Mono', sans-serif;
}

h1 {
    text-align: center;
}

.wrapper {
    margin: 0 10em;
    display: flex;
}

form {
    display: flex;
    justify-content: space-evenly;
}

span{
    width: 100%;
}

.url-input {
    width: 80%;
    padding: 0.5em;
    border: none;
    border-bottom: #000000 solid;
}

button{
    border: none;
    cursor: pointer;
}

table {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: #000;
    color: #fff;
}